 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #020617;
}

.logo {
    color: #38bdf8;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.hero span {
    color: #38bdf8;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background: #38bdf8;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

.hero button:hover {
    background: #0ea5e9;
}

/* Sections */
section {
    padding: 60px 50px;
    text-align: center;
}

/* Projects */
.projects {
    background: #020617;
}

.project-card {
    background: #1e293b;
    padding: 20px;
    margin: 20px auto;
    width: 250px;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }
}